# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform working directory
.terraform/

# Ignore provider caches
crash.log
override.tf
override.tf.json
.terraformrc
terraform.tfvars

# Ignore local build outputs
*.zip
*.log
.terraform/
scripts/rotten_tomatoes_critic_reviews.csv
scripts/cleaned_reviews.csv
scripts/rotten_tomatoes_movies.csv


.terraform/
scripts/rotten_tomatoes_critic_reviews.csv
scripts/cleaned_reviews.csv
scripts/rotten_tomatoes_movies.csv
scripts/rotten_tomatoes_critic_reviews.csv
scripts/cleaned_reviews.csv
scripts/rotten_tomatoes_movies.csv
.terraform/